*{
    font-family: vazir;
}
header{
    height: 100px;
}
.icon-style{
    color: #0d6efd;
    background-color: #ebeafb;
    padding: 15px;
    border-radius: 15px;
}
.bg-card{
    background-color: #1b2a4e;
    color: white;
}
.carousel .carousel-item {
    height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: 0;
    min-height: 500px;
}